@charset "UTF-8";

html {
  height: 100%;
}

body {
	background-color: powderblue;
	min-height: 100%;
}

.topnavPanel {
	background-color: grey;
}

.topnavPanel nav-link {
	color:#F5F5F5;
}

.actionPanel {
	background-color: red;
	width: 100%;
	height: 75px
}

.leftPane {
	background-color: green;
	text-align: center
}

.middlePane {
	background-color: yellow;
}

footer {
	text-align:center;
}

.my-navbar-items {
	color: black;
}

.contactCss {
	background:pink;
	color: black;
	vertical-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.contactCss > [class*='col-'] {
	 display: flex;
	 flex-direction: row;
}